body {
  user-select: none !important;
  background-image: url("orange.jpg") !important;

  background-size: 150%;
}


#paragraphs {
  user-select: text;
}
/* .card-img-top {
margin-bottom: 10px !important;
} */
h2 {
  text-align: center;
  font-size: 100px !important;
}
#l {
  color: red;
}
#o {
  color: orange;
}
#s {
  color: #fffb00;
}
#t {
  color: #04cf1c;
}
#b {
  color: #ff38d1;
}
#i {
  color: #9237d4;
}
#k {
  color: #1fb0ff;
}
#e {
  color: #ff922b;
}
#d {
  color: red;
}
#a {
  color: orange;
}
